* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

nav {
    background-color: #f5f5f7;
    /* padding: 10px 0; */
    padding-block: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    cursor: pointer;
}

.learnmore {
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 11px 21px;
    border-radius: 21px;
    cursor: pointer;
}

.buy {
    background-color: white;
    color: #0066CC;
    border: 1px solid #0066CC;
    padding: 11px 21px;
    border-radius: 21px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: top;
    height: 50%;
    gap: 10px;
    font-size: 20px;
}

.button {
    gap: 10px;
    display: flex;
}

.mac {
    width: 100%;
    height: 100vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-alp-applecare-plus-202510?wid=1100&hei=406&fmt=jpeg&qlt=90&.v=Uk1PMlhZeW5BYXBQTUwwdGE2a3EzditLM2MwSGNiaWNPSTY2R0RYa3paeitrVU5ybHpsc1JYZjhzSFlPNjlNSHZvdUZlR0V0VUdJSjBWaDVNVG95Yk5hbWE4UDFzb2dwTHhKWE1JbklVOVE) no-repeat center center / contain;
}

.ipad {
    width: 100%;
    height: 150vh;
    background: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/ipad-card-50-compare-202410?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=M3lSVmFUMUZBN2ROWUZKMWNoYUJPMVArK1BMQkNMdGlyQzh1ZkEyWXJpY2YzUHRVc053YldlK2NuZForb0M1V0tRNjVHZTlIV04vVjZjbEh0Rm5SYzNNUXpLcVIzNFk3K3pyYXpQZ2taZjA") no-repeat center top / cover;
    background-position: center -400px;
}

.iphone {
    width: 100%;
    height: 150vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-card-40-accessories-202509?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=VC8rWVRpWVlBSmZTRkE5Mmd2bHllL2tSSmpvbVQwNGk2MUVsenF0aEhweXFibWFMYXltdFQ0YTJmdk9yVk1qRE1LWlMyVmEreEd6UVBWaXRHdkpLMWpIWGxNQ3NoVkZTQllzcmQrazFvNnl0RS83c2JZRVAyNTZCL0ZoaWJIbHo) no-repeat center top / cover;
    background-position: center -400px;
}

.watch {
    width: 100%;
    height: 150vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-compare-202509_GEO_US?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=MHRQLytDVGpzanZQOHZNM1JPY0puZStCWEw0aFlCQTRuS29hNFhhLzZVY3VRN08vYm53eHhLdU8wbnVFMEZrc2Nva0xZQWFEV2ljOWRGNWZJRk4vWHRPUkk0NGtkbDdpMWFUemRQRk1pTWFmeW9BaDJwVmxuajFPb3h5RTNaS1c) no-repeat center top / contain;
    background-position: center -250px;
}

