* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

nav {
    background-color: #f5f5f7;
    /* padding: 10px 0; */
    padding-block: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    cursor: pointer;
}

.learnmore {
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 11px 21px;
    border-radius: 21px;
    cursor: pointer;
}

.buy {
    background-color: white;
    color: #0066CC;
    border: 1px solid #0066CC;
    padding: 11px 21px;
    border-radius: 21px;
    cursor: pointer;
}
.wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
    text-align: center;
    height: 50%;
    gap: 10px;
    font-size: 20px;
}
.button{
    gap: 10px;
    display: flex;
} 
.ipadpro{
    width: 100%;
    height: 125vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/ipad-pro-model-select-gallery-2-202405?wid=5120&hei=2880&fmt=webp&qlt=90&.v=cXN0QTVTNDBtbGIzcy91THBPRThnMkpvMjZnN3E5aGRZVXJIWmhFMitJSU9WV3R2ZHdZMXRzTjZIcWdMTlg4eUJQYkhSV3V1dC9oa0s5K3lqMGtUaFYrNkhvSzBtcy9ubWtTZUpaU0lsQ2NWNTFabEhVdlFNSjJrWGh4dTRLbEk&traceId=1) no-repeat center center / cover;
}
.ipadair{
    width: 100%;
    height: 125vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/ipad-air-model-unselect-gallery-1-202405?wid=5120&hei=2880&fmt=webp&qlt=90&.v=azZtTlRzREZ3NzhWaHRDQW5YeUV0UEs0TkxxOFYxN2dtSHJMdW5sNDFVK3MxV2hYTmJkSS9ZdDBsUEkxd0lnTE9UVDVQbVhkcDIxQlRzeDZXVVpQSzYyL0ZSTzZrMWlpUU5CQlpuNHNUZys4amtPUS9xbkZadzF0WklDMm5nNTU&traceId=1) no-repeat center center / cover;
}
.ipad{
    width: 100%;
    height: 125vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/ipad-10th-gen-storage-select-202212-blue?wid=5120&hei=2880&fmt=webp&qlt=90&.v=K0VQT3FFaHFhTWU0ME1DRnlHMFM3bEIvTXY5NjBUQVhVcnFORUt4SFI2QXVydldlTjVqQnhYWVhaM3FCVnF1VE9UVDVQbVhkcDIxQlRzeDZXVVpQSzNPRWVyeSszMEt5U205VEFxelFHR21ZZ2lWdVRBc0YzbEJkM3NURkZpSy8&traceId=1) no-repeat center center / cover;
}
.ipadmini{
    width: 100%;
    height: 125vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/ipad-mini-finish-unselect-gallery-1-202410?wid=5120&hei=2880&fmt=webp&qlt=90&.v=eDJDc00wczl1QWk5QmpVYitFNXQwOVgrSXpWVEhWaW9YTGlWRHFoSHU0L1BqbTR3VEdKRWdqMUVib1BPSWdhYWd2S3NaRzcrU0dmYjNHTUFiMnlsWFUxSlgrVWMrMzU1OXo2c2JyNjJZTGdyNS9FSzFhNVRJSXdZQnFCMkJ5K2E&traceId=1) no-repeat center center / cover;
}