* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

nav {
    background-color: #f5f5f7;
    /* padding: 10px 0; */
    padding-block: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    cursor: pointer;
}

.learnmore {
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 11px 21px;
    border-radius: 21px;
    cursor: pointer;
}

.buy {
    background-color: white;
    color: #0066CC;
    border: 1px solid #0066CC;
    padding: 11px 21px;
    border-radius: 21px;
    cursor: pointer;
}
.wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
    text-align: center;
    height: 50%;
    gap: 10px;
    font-size: 20px;
}
.button{
    gap: 10px;
    display: flex;
}
.macbookair{
    width: 100%;
    height: 120vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/macbook-air-size-unselect-202601-gallery-1?wid=5120&hei=3280&fmt=webp&qlt=90&.v=YTFkSnBPS2tMZFdhaFNRRkx6VnJZaUd4WmthcldkemtncUgvMzhXenFEVkJtY3lja2FvNzhqZzhFY0x4NDFzYkE0ZWxMVGt3djRUV0FHWk92REs5YjAxSlgrVWMrMzU1OXo2c2JyNjJZTGpEUE90ekhYc3dvRnFSbFQ0NEVuaVQ&traceId=1)no-repeat center center / cover;
}
.macbookpro{
     width: 100%;
    height: 120vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-macbook-pro-size-unselect-202601-gallery-1?wid=5120&hei=3280&fmt=webp&qlt=90&.v=aXlkdGF0T0RUUVdDckNLaUc0OEE0d2huNHI2YVc1MjYxWkRLa3k4U1gzZnMyWXE0MHdoZXVFRHRoTGRqNEREOHJUNGJWZ1llU1plZmhBekVhZm5NQnNqbWRhTGpRM2xxVWJRWUhSaDlCQ3A3cWhkazVFSkNaSzNwMHhJRnYza1FlODBad1VqYUZ3RW54YkRKL2hzbXVR&traceId=1)no-repeat center center / cover;
}
.macmini{
     width: 100%;
    height: 120vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-mini-chip-unselect-202601-gallery-1?wid=5120&hei=3280&fmt=webp&qlt=90&.v=d1pXNGRPZVVoYmlPOFhNR3g4R2wxUGFyNWMrRXhVOURuN2tLWDJRa3lPaVFmZjd5T2R4eGRzZEl3a0hpNytPUWNUSUVuN05yMDFTMGpCcHdJOHQraUswbitwYmhvai9SZ2xoM0FoL1FBT2FIM0ZzTE9oQy82TkxzVHpvc05CbDQ&traceId=1)no-repeat center center / cover; 
}
.macstudio{
     width: 100%;
    height: 120vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-studio-chip-unselect-202601-gallery-1?wid=5120&hei=3280&fmt=webp&qlt=90&.v=Q0wvVFlkSnZCd1pNaGQ2aENud1pOOGRZb0llL3h0amtnSjJaeWRsVWhyYWhtTkxkeUYxclpFMzhjZzBKekV3emZvSGF2dFhlaXl5ZzZDVTRMdEVvNll2UjRaSC9URTlmd0FSb1ZTWjRnb3QxTzhIOFVydmdaem5HalpzMy9qU1M&traceId=1)no-repeat center center / cover;
}
.macpro{
    width: 100%;
    height: 120vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-pro-enclosure-unselect-202601-gallery-1?wid=5120&hei=3280&fmt=webp&qlt=90&.v=ajByVTVsdXBUMlVZN25lOWlBRkw1bkdyRjRQNGtTbUM4N1dtTDVFOTV1MnpjOUFNeFNrZ1dSMDZXT3F0RUloMEtZMGFKbG9yanhQdjZDS1dZUFFhRVE4bm1RcmlWRWp2eDN1WHNkSjNmUlp1SWFrbEZBUzZma09uUXNCYXhyS1c&traceId=1)no-repeat center center / cover;   
}
.Imac{
     width: 100%;
    height: 170vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/imac-color-unselect-202601-gallery-1?wid=5120&hei=3280&fmt=webp&qlt=90&.v=YUhqSVNUTWk1djNVekVIdjhjMjArWDZwVTFScmpKbWRKUXNHNFhkOTgxUFZLS3lIUGwzYkE4SUUyTWVEZVZ1N25WOGRHQ3ZYRTFSbWtOcmtMWGxEbjlhRFhkTmFuNjdhaXFYRk5kRkZrTkFmZzNKVTlPNE1sTXZ6Q09ZVHU4VVc&traceId=1)no-repeat center center / cover;
}
.sdisplay{
    width: 100%;
    height: 175vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/studio-display-gallery-1-202203?wid=640&hei=528&fmt=p-jpg&qlt=95&.v=eWpuNHJyMTVNd2c1b3VZNlJqYitzZEFNZys4dC8yY2NWNklIYlYrUjdnNWhxNm1ZVUtMa2NMbWNOdnFKQ012N3g4ZHpEbm5XWGdaM3BiNVRDaG55UkJPU3FZZjJ2RmR1a3MrbE1XV2R6REQrNmVjbmk5c1V4VVk2VEt3TGcxekg)no-repeat center center / contain;
}
.ProXdrdisplay{
    width: 100%;
    height: 180vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/pro-display-gallery1-201909?wid=4000&hei=3072&fmt=jpeg&qlt=90&.v=TUplUm1nT28xUE9FeFF2RWo1anF5VkdMR2MzT25EOUlNaXhRejM0YVZHUVE2Y3k4ek5KMHpqVTRYYjA5VURsb3VUb3VPa2FUZVhQMFhDQnVBMWhwQTZuN0R6RG1TZVMwbzBNZFRWOTNUV1U)no-repeat center center / contain;
}