ul {
    list-style: none;
}

nav {
    background-color: #f5f5f7;
    /* padding: 10px 0; */
    padding-block: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    cursor: pointer;
}   

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Store{
font-size: 50px;
color: pink;
margin-top: 20px;
margin-left: 100px;
}
.mac{
    width:100%;
    height: 200vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/store-card-40-macbook-pro-202510?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=MjhMcWJ2MGZwbXEwdnBkcUN6ZnhyMm9DK3hwOFVzTGV2T3V6VkdGOUQ2UnFTRjNxbmh1UnU2R29ibGdpZUFXcy85S3R4M0M3WGhIQVNOK3lBdUI5K1lsekVRWVZWZFZsS2Q1VFBGdkVHSUhMQ2gzYU14VEs0V1BFdWdmdWl3NGg )
    no-repeat center center / cover;

}

.wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    gap: 20px;
    font-size: 20px;
}

.iphone{
    width: 100%;
    height: 200vh;
    margin-top:20px;
background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/store-card-40-iphone-17-pro-202509?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=UzBXQnlhUWdraTNvNU1Kb3pEQlpXQjVOVStZaG1ncWFjNXVUZkZ4anVIYlNab1lJcUZwSFVRK1htYlNmZUtPTG54cStVNU5BQmhzbkxYRGxDWUc3R2RBR0JWVHBRN0NKVm11SFZzeU45T2VCTXFJbjVIbEFUN05pTHFFYldZYzg)no-repeat center center / cover;
}
.ipad{
     width: 100%;
    height: 200vh;
    margin-top:20px;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/store-card-40-ipad-pro-202510?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=UzBXQnlhUWdraTNvNU1Kb3pEQlpXTmRKNlp6TmhsQ0RBNndmZkxCVmYvSDZXYXJlRUd1cTBYTnRnbTNlazIvM3ZvdUZlR0V0VUdJSjBWaDVNVG95YkNJSU04U2x4akplUjNjVDFUUHpUaVU)no-repeat center center / cover;
}
.Applewatch{
    width: 100%;
    height: 200vh;
    margin-top:20px;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/store-card-40-watch-ultra-202509?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=QWhYaUFuRS9hTUliZ3N5RWVCV09vcHVDMzIyc2tYWmg0aGNQUGlxUnIvcHFTRjNxbmh1UnU2R29ibGdpZUFXcy85S3R4M0M3WGhIQVNOK3lBdUI5K2FvbHkrdzF1R2RzWHBoazhVN3c2Yjd4N0gwQ1l5S1h1a1Erem0veUNhRW8)no-repeat center center / cover;
}
#wrapper{
    color: black;
     display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: top;
    text-align: center;
    height: 50%;
    gap: 20px;
    font-size: 20px;
}
.Airpods{
    width: 100%;
    height: 100vh;
    background: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/airpods-max-select-202409-starlight?wid=400&hei=400&fmt=jpeg&qlt=90&.v=azQxRkVJKzd6V3J0aGNqWFhLMzBmdWd1NjlYUXFPTDZEK2xySGJScW1PSlNKWVN6V1pYdVdONndSdHR4T3Q0clB0RzNpQ0Mxc293RHpBd2NJd0FqVzVIc2ROT3dnK21sV1VnYkJFS3lCS1FIVW5CQ0JNREpWdGk0RGM1VzRFVG4)no-repeat center center / contain;
}